<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Capture</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
  </head>
  <body>
    <% requests.each do |req| %>
      <h2><%= req["method"] %>: <%= req["path"] %></h2>
        <table>
          <% req["headers"].each do |header, value| %>
            <tr>
              <td><%= header %></td>
              <td><%= value %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <div>
        <code><%= req["body"] %></code>
      </div>
    <% end %>
  </body>
</html>
