{{#each sortedRequests as |request|}}
  <div class="c-request card">
    <header>
      <h2>
        <code class="c-request__method c-request__method--{{request.method}}">{{request.method}}</code>
        {{request.path}}
        <small>
          <time datetime={{request.receivedAt}}>
            {{moment-format request.receivedAt 'YYYY-MM-DD HH:mm:ss'}}
          </time>
        </small>
      </h2>
    </header>

    <table class="c-request__headers">
      {{#each-in request.headers as |header value|}}
        <tr>
          <th>{{header}}</th>
          <td>{{value}}</td>
        </tr>
      {{/each-in}}
    </table>

    {{#if request.body}}
      <div class="c-request__body">
        <pre><code>{{request.body}}</code></pre>
      </div>
    {{/if}}
  </div>
{{/each}}

{{outlet}}
